* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s;
}
ul { list-style: none; }
a { text-decoration: none; }
.wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px 0;
    flex-wrap: wrap;
}
/*******************************************************
                HEADER
********************************************************/
header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.header--menu, .header--title, .header--nav {
    display: flex;
    justify-content: center;
}
.header--menu {
    background: rgba(0,0,250,0.6);
    width: 10%;
    position: relative;
}
.header--menu__button {
    align-self: center;
    border: 1px solid #fff;
    padding: 10px;
    background: none;
    color: #fff;
    font-size: 1.1em;
    border-radius: 5px;
}
.header--menu__button:hover {
    background: #fff;
    color: blue;
    cursor: pointer;
}
.header--menu__slider {
    z-index: 9999;
    width: 300px;
    position: absolute;
    top: 70px;
    left: -300px;
    height: auto;
    background: #fff;
    border: 1px solid rgba(0,0,250,0.6);
    box-shadow: 0 2px 7px rgba(0,0,250,0.8);
}
.categoria > .header--menu__link {
    border: 1px solid rgba(0,0,250,0.3);
    background: #fff;
}
.categoria > .header--menu__link:hover {
    background: rgba(0,0,250,0.55);
}
.categoria > .active {
    font-size: 1.3em;
    color: #fff;
    background: rgba(0,0,250,0.55);
}
.categoria ul {
    height: 0;
    overflow: hidden;
} 
.header--menu__link {
    border: 1px solid rgba(0,0,250,0.1);
    display: block;
    padding: 20px 0;
    color: rgba(0,0,250,0.6);
    background: rgba(0,0,0,0.1);
    transition: font-size .5s;
    width: 100%;
    font-size: 1.1em;
}
.header--menu__link:hover {
    font-size: 1.3em;
    background: rgba(0,0,250,0.4);
    color: #fff;
}
.header--title {
    background: rgba(0,0,250,0.6);
    width: 80%;
}
.header--title__name {
    align-self: center;
    font-size: 2em;
    color: #fff;
}
.header--nav {
    width: 10%;
    background: rgba(250,0,0,0.5);
    font-size: 1.2em;
}
.header--nav__link {
    color: #fff;
    width: 100%;
    height: 100%;
    line-height: 70px;
}
.header--nav:hover {
    background: rgba(250,0,0,0.8);
}
/*******************************************************
                FOOTER
********************************************************/
footer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.copy {
    align-self: center;
    color: blue;
}
.copy a:visited {
    color: blue;
}
/*******************************************************
                BIENVENIDA
********************************************************/
.contenido {
    align-self: center;
    width: 70%;
    height: auto;
    max-width: 500px;
    padding: 20px 0;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 0 1px 3px rgba(0,0,0,0.8);
    border-radius: 30px;
}
.contenido__title {
    font-size: 3em;
    margin-bottom: 30px;
    color: rgba(0,0,100,0.8);
}
.contenido__link {
    color: #fff;
    width: 80%;
    margin: 0 auto 5px;
    display: block;
    padding: 15px 0;
    border-radius: 10px;    
}
.create {
    background: rgba(0,0,100,0.6);
}
.create:hover {
    background: rgba(0,0,100,0.8);
}
.report {
    background: rgba(0,0,250,0.6);
}
.report:hover {
    background: rgba(0,0,250,0.8);
}
.notification {
    background: rgba(250,0,0,0.7);
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 0 auto 10px;
    color: #fff;
    font-size: 1.2em;
}
.notification__title, .notification__item {
    align-self: center;
}
.notification__title {
    margin-right: 10px;
}
/*******************************************************
                FORM GENERAL
********************************************************/
form {
    align-self: center;
    width: 70%;
    height: auto;
    max-width: 500px;
    text-align: center;
    padding: 20px 0 0;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 0 1px 3px rgba(0,0,0,0.8);
    border-radius: 30px;
}
input::placeholder {
    color: rgba(0,0,150,0.5);
}
.form__title {
    margin-bottom: 30px;
    font-size: 3em;
    color: rgba(0,0,150,0.7);
}
.form__input, .form__button {
    width: 80%;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 1.1em;
}
.form__input {
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0,0,150,0.4);
    background: none;
    color: rgba(0,0,150,0.9);
    transition: border-bottom 0s;
}
.form__input:hover {
    border-bottom: 1px solid rgba(0,0,150,1);
}

.form__input:focus, .form__input:active {
    border-bottom: 2px solid rgba(0,0,150,1);
}
.form__button {
    border: none;
    background: rgba(0,0,150,0.4);
    color: #fff;
    border-radius: 10px;    
}
.form__button:hover {
    background: rgba(0,0,150,0.7);
}
/*******************************************************
                FORM_LOGIN
********************************************************/
.password {
    width: 80%;
    margin: auto;  
}
.password__input {
    width: 85%;
    float: left;
}
.password__button {
    padding: 10px;
    width: 15%;
    float: right;
    border: none;
    background: rgba(0,0,150,0.4);
    color: #fff;
}
.password__button:hover {
    background: rgba(0,0,150,0.7);
}
/*******************************************************
                FORM_ALTA_MASCOTA
********************************************************/
.date {
    width: 80%;
    margin: auto;
    color: rgba(0,0,150,0.9);
    margin-bottom: 60px;
}
.date__label {
    padding: 10px 0;
    width: 50%;
    float: left;
}
.date__input {
    color: rgba(0,0,150,0.7);
    padding: 10px;
    width: 50%;
    float: right;
}
/*******************************************************
                FORM_ALTA_CONTROL
********************************************************/
.service {
    width: 80%;
    margin: auto;
    color: rgba(0,0,150,1);
    margin-bottom: 10px;
}
.service__checkbox {
    display: none;
}
.service__label {
    padding: 5px 15px 5px 51px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 1.1em;
}
.service__label:hover {
    background: rgba(0,0,150,.6);
    color: white;
}
.service__label:before {
    content: "";
    width: 17px;
    height: 17px;
    display: inline-block;
    border: 3px solid rgba(0,0,150,.6);
    position: absolute;
    left: 17px;
    top: 4px;
    border-radius: 5px;
}
input[type="checkbox"]:checked + label {
    padding: 5px 15px;
    background: rgba(0,0,150,.6);
    color: white;
}
input[type="checkbox"]:checked + label:before {
    display: none;
}
.control__label {
    padding: 10px 0;
    width: 40%;
    float: left;
    font-size: 1.3em;
    color: rgba(0,0,150,0.7);
}
.control__input {
    color: rgba(0,0,150,0.7);
    padding: 10px;
    width: 60%;
    float: right;
}
/*******************************************************
                REPORTE GENERAL
********************************************************/
.wrap__title {
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: rgba(0, 0, 255, 0.7);
    margin-bottom: 30px;
}
.card {
    min-width: 250px;
    width: 20%;
    border: 1px solid rgba(0,0,0,0.3);
    margin: 10px 20px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.8);
    padding: 10px;
    border-radius: 10px;    
}
.card--title {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
}
.card--title__name {
    width: 60%;
}
.card--title__menu {
    width: 40%;
    text-align: center;
}
.card--title__item {
    display: block;
    padding: 1px;
}
.card__data {}
/*******************************************************
                INNOVASOFT
********************************************************/
#particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, .6);
}
.logo {
    background: transparent;
    height: 100vh;
    position: relative;
    margin: 0;
}
.logo__imagen {
    height: 90%;
}
.logo__imagen img {
    width: 60%;
    height: 60%;
}
.logo__imagen h1 {
    font-size: 7em;
    color: rgba(0, 0, 255, .7);
    margin-top: 20px;
}
.logo__imagen p {
    font-size: 5em;
    color: rgba(0, 150, 255, .9);
}
.integrantes {
    background: transparent;
    padding: 50px 0;
    position: relative;
    margin: 0;
}
.integrante {
    width: auto;
    height: 40%;
    margin: 20px 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 0;
}
.imagen {
    width: 29%;
    height: 100%;
    display: flex;
    margin-right: 1%;
}
.imagen img {
    align-self: center;
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
}
.descripcion {
    width: 0;
    height: 50%;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 1px 3px rgba(255, 255, 255, .6);
    display: inline-block;
    align-self: center;
    border-radius: 30px;
    font-size: 0;
    transition: width .5s;
}
.integrante:hover .descripcion {
    border: 1px solid rgba(255, 255, 255, .5);
    font-size: 1.5em;
    width: 70%;
}