* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
/*******************************************************
                FORM GENERAL
********************************************************/
form {
    width: 60%;
    max-width: 500px;
    margin: 30px auto 0;
    background-color: #d9d9d9;
    text-align: center;
    padding: 20px 0;
}
.form__title {
    padding-bottom: 20px;
    font-size: 3em;
    color: rgb(0,0,150);
}
.form__input, .form__submit {
    width: 75%;
    margin: 10px;
    padding: 10px;
}
.form__submit {

}
/*******************************************************
                FORM_CLIENTE
********************************************************/
.password {
    width: 75%;
    margin: auto;  
}
.password__input, .password__button {
    padding: 10px;
}
.password__input {
    width: 85%;
    float: left;
}
.password__button {
    width: 15%;
    float: right;
}
/*******************************************************
                FORM_MASCOTA
********************************************************/
.date {
    width: 75%;
    margin: auto;
}
.date__label {
    padding: 10px 0;
    width: 50%;
    float: left;
}
.date__input {
    padding: 10px;
    width: 50%;
    float: right;
}
/*******************************************************
                FORM_REPORTE
********************************************************/
.card {
    width: 25%;
    float: left;
    border: 1px solid rgba(0,0,0,0.3);
    margin: 10px 20px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.8);
    padding: 10px
}
.card__title {

}
.card__data {

}