<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="stylesheet" href="../css/form.css">
</head>
<body>
    <form action="alta.php" method="post">
        <h1 class="form__title">Registro</h1>
        <input type="text" name="rfc" placeholder="RFC" required class="form__input"> <br>
        <input type="text" name="nombre" placeholder="Nombre" required class="form__input"> <br>
        <input type="text" name="apellido_p" placeholder="Apellido Paterno" required class="form__input"> <br>
        <input type="text" name="apellido_m" placeholder="Apellido Materno" required class="form__input"> <br>
        <input type="text" name="edad" placeholder="Edad" required class="form__input"> <br>
        <input type="submit" value="Registrar" class="form__submit">
    </form>
</body>
</html>