<html>
    <head>
        <title>Acerca de</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/flexboxgrid.min.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div id="particles-js"></div>
        <div class="row center-xs middle-xs logo">
            <div class="col-xs-10 col-md-8 logo__imagen">
                <img src="../img/logo.png" alt="Logotipo Innovasoft">
                <h1>Innovasoft</h1>
                <p>"Data Care"</p>
            </div>
        </div>
        <div class="row center-xs middle-xs integrantes">
            <div class="col-xs-10 col-md-8 integrante">
                <div class="imagen"><img src="../img/foto2.jpg" alt=""></div>
                <div class="descripcion">
                    <h1>José Fernando García Vázquez</h1>
                </div>
            </div>
            <div class="col-xs-10 col-md-8 integrante">
                <div class="imagen"><img src="../img/foto1.jpg" alt=""></div>
                <div class="descripcion">
                    <h1>Viridiana Durán Mejía</h1>
                </div>
            </div>
            <div class="col-xs-10 col-md-8 integrante">
                <div class="imagen"><img src="../img/foto2.jpg" alt=""></div>
                <div class="descripcion">
                    <h1>José Carlos Hernández Contreras</h1>
                </div>
            </div>     
            <div class="col-xs-10 col-md-8 integrante">
                <div class="imagen"><img src="../img/foto2.jpg" alt=""></div>
                <div class="descripcion">
                    <h1>Sergio Iván Vilchis</h1>
                </div>
            </div>      
        </div>

        <script src="../js/particles.min.js"></script>
        <script src="../js/app.js"></script>
    </body>
</html>